$mColor : #964e50;
$sColor : #278d68;
$yColor : #fcefc2;
$wColor : #ffffff;
$dColor : #474747;
$bColor : #f7f6f1;
$gColor : #cccccc;
// #f7f6f1 - 연한 흰회색; #fbffa2 - 노란색

.inner {
    width: 117rem;
    margin: 0 auto;
}